{
  "presets": [
    ["es2015", {"modules": false}],
    "es2017",
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime", {"polyfill": false, "regenerator": true}],
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    },
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
//    "production": {
//      "only": [
//        "app"
//      ],
//      "plugins": [
//        "transform-react-remove-prop-types",
//        "transform-react-constant-elements",
//        "transform-react-inline-elements"
//      ]
//    }
  }
}
